
.group__details__wrapper{
    display: grid;
    grid-template-columns: 20% 30% 50%;
    padding: 1rem;
    width: 100%;
}

.img__wrapper{
    height: 140px;
    width: 140px;
    grid-row: 1/3;
    border-radius: 10px;
}

@media screen and (max-width: 966px){
    .group__details__wrapper{
        grid-template-columns: 1fr;
    }
    .img__wrapper{
        margin-bottom: 30px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .group__details__wrapper > input{
        margin: auto !important;
    }
    .inp__label{
        text-align: center !important;
    }
}

@media screen and (max-width: 500px){
    .input__field{
        width: 200px !important;
    }
}

.img__wrapper > img {
    border-radius: 10px;
    height: inherit;
    width: inherit;
}

.img__wrapper > svg { 
    color: #ebebeb;
    height: inherit;
    width: inherit;
    background: #363636;
}

.img__wrapper button{
    background-color: #ffffff;
    border: 2px solid #363636;
}

.inp__label{
    width: 100%;
    text-align: left;
    color: #d3d3d3;
}

.input__field{
    width: 300px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #c5c5c5;
    padding: 5px 10px 5px 10px;
    background-color: #272727;
    color: #d3d3d3;
    text-align: center;
}

.input__field:focus{
    outline: unset;
}

.group_img_upload::-webkit-file-upload-button {
    visibility: hidden;
}

.group_img_upload{
    background-color: #d3d3d3;
    width: inherit;
    border-radius: 5px;
}


.group_img_upload::before{
    content: 'Upload group image';
    display: inline-block;
}